body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.thin-heading {
    font-weight: 300;
}

.custom-nav {
    border-bottom: 2px solid #7d97ad;
}

.custom-container {
    min-width: 978px;
    max-width: 1680px;
} 

.bg-image{
    height: 300px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background: url('../img/banner-1.PNG');
}

.banner-img {
    height: 300px;
    overflow-y: hidden;
    margin-top: 8px;
}

#logo > img{
    margin-top: 25px;
}

.grey-blue {
    color: #7d97ad;
}

.featured-work-img > img {
    width: 100%;
}

.featured-work-caption, .featured-work-caption + a  {
    text-align: center;
}

.featured-work-caption + a {
    display: block;
}