body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.thin-heading {
    font-weight: 300;
}

.custom-nav {
    border-bottom: 2px solid #7d97ad;
}

.custom-container {
    min-width: 978px;
    max-width: 1680px;
} 

.banner-img {
    overflow-y: hidden;
    margin-top: 8px;
}

#logo > img{
    margin-top: 25px;
}

.grey-blue {
    color: #7d97ad;
}

.featured-work-img > img {
    width: 100%;
}

.featured-work-img{
    max-height: 240px;
    width: 100%;
    position: relative;
}

.featured-work {
    margin-bottom: 20px;
}

.featured-work-caption, .featured-work-caption + a  {
    text-align: center;
}

.featured-work-caption + a {
    display: block;
}

.featured-work-img .overlay{
    width: 100%;
    position: absolute;
    background-color:  black;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    z-index: 2;
    transition: opacity .3s;
}

.featured-work-img:hover .overlay {
    opacity: .8 ;
    transition: opacity .5s;
}

.featured-work-img .overlay > .description{
    color: white;
    text-align:center;
    font-size: 16px;
    padding-top: 25%;
}
/*
    Media Queries
*/
@media screen and (min-width: 768px) {

    .banner-img > img{
        height: 300px;
    }
    
}

@media screen and (max-width: 767px) {
    
}